# Entornos virtuales
.venv/
venv/
env/
ventas_app/verv/

# Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
.env.local

# Vue
#frontend/node_modules/
#frontend/dist/
#frontend/.env
#frontend/.env.local
#frontend/.vscode

# General
.DS_Store
.idea
.vscode